@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 250ms linear forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 250ms linear forwards;
}

@keyframes bounceLeft {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, -50%) scale(1.25);

    // transform: translate(25%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
.bounce-left {
  animation: bounceLeft 300ms linear forwards;
}

@keyframes bounceRight {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, -50%) scale(1.25);

    // transform: translate(-25%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
.bounce-right {
  animation: bounceRight 300ms linear forwards;
}
