//* Sections can be broken out into SCSS partials as needed
// ===================================
// VARIABLES
// ===================================
$primary-color: #e5e5e5;
$primary-bg-color: #29242a;
$bronze-accent: #c49250;

//===================
// CSS RESET
//===================

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: $primary-color;
  background-color: $primary-bg-color;
}

a:link,
a:visited {
  color: $primary-color;
  text-decoration: none;
}

//===================
// BREAKPOINTS
//===================
// 840px, 1024px, 1400px
$breakpoints-up: (
  'medium': '52.5em',
  'large': '64em',
  'xlarge': '87.5em',
);

// 639px, 1023px, 1399px
$breakpoints-down: (
  'small': '52.4375em',
  'medium': '63.9375em',
  'large': '87.4375em',
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($map: $breakpoints-up, $key: $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($map: $breakpoints-down, $key: $size)) {
    @content;
  }
}

//===================
// LAYOUT
//===================

.layout {
  height: 100%;
  display: grid;
  grid-template-rows: 85% 15%;

  &__lists {
    display: flex;
    align-items: flex-start;

    @supports (scroll-snap-type: x mandatory) {
      scroll-snap-type: x mandatory;
    }

    width: 100%;
    height: 100%;
    overflow-y: scroll;

    @include breakpoint-up(medium) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;

      overflow: hidden;
    }
  }

  &__filters {
    height: 100%;

    .filters__row {
      height: 50%;
      display: flex;

      div {
        border-top: 2px solid $bronze-accent;
      }
    }
  }
}

//===================
// CARD OVERLAY
//===================
.card-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  img {
    max-width: 25rem;
    pointer-events: none;
  }
}

//===================
// CARD TOOLTIP
//===================
.card-tooltip {
  position: absolute;
  z-index: 1000;

  img {
    max-width: 25rem;
  }
}

//===================
// CARD LIST
//===================
.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 100vw;
  margin-right: 1rem;

  @supports (scroll-snap-align: start) {
    scroll-snap-align: start;
  }

  @include breakpoint-up(medium) {
    min-width: auto;
  }

  &__header {
    display: flex;
    padding-bottom: 0.75rem;
    margin-top: 1rem;
    text-align: center;

    &::before,
    &::after {
      content: '';
      border-top: 2px solid $bronze-accent;
      position: relative;
      top: 1rem;
      width: 7.5rem;
      display: inline-block;
    }

    &::before {
      left: -1.5rem;
    }

    &::after {
      right: -1.5rem;
    }
  }

  &__cards {
    display: block;
    max-height: 90%;
    overflow-y: auto;
  }

  &__no-cards {
    padding: 1rem;
    border: 3px dashed lighten($bronze-accent, 15%);
    border-radius: 3px;
    font-size: 1.6rem;
  }
}

//===================
// CARD LIST ITEM
//===================
.card-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 25rem;
  height: 4.5rem;
  margin: 1rem 1.5rem;
  padding: 1rem 1rem;
  border-radius: 3px;

  color: #ddd;
  font-weight: 500;
  background-color: #666; // Fallback color

  box-shadow: 3px 3px 6px #111;

  &__cost {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1px solid $bronze-accent;
    border-radius: 100%;
    font-size: 1.4rem;
    box-shadow: 0 0 2px #163858;
    background-color: #2576c2;

    pointer-events: none;
  }

  &__name {
    font-size: 1.6rem;
    text-shadow: 0 0 3px #000;

    pointer-events: none;
  }
}

//===================
// FILTER BUTTON
//===================
.cost-filter,
.region-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // border: 2px solid $bronze-accent;
  border-left: 2px solid $bronze-accent;

  flex: 1 1 0;

  transition: background-color 0.1s ease-in-out;

  &--active {
    background-color: rgba($bronze-accent, 0.4);
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba($bronze-accent, 0.4);
    }
  }

  &:last-child {
    border-right: 2px solid $bronze-accent;
  }
}

.region-filter {
  // border-top: 2px solid $bronze-accent;
}
