//* Sections can be broken out into SCSS partials as needed
@import 'variables';
@import 'mixins';
@import 'animations';

@import 'globals';
@import 'layout';
@import 'card-list';
@import 'card-list-item';
@import 'filter-button';
@import 'settings-menu';
@import 'whitelist';

//===================
// CARD OVERLAY
//===================
.card-overlay {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  img {
    max-width: 25rem;
    pointer-events: none;
  }
}

//===================
// CARD TOOLTIP
//===================
.card-tooltip {
  position: absolute;
  z-index: 1000;

  img {
    max-width: 25rem;
  }
}
